<p>
</p>
<table>
    <tr>
      <td>Datum</td>
      <td>Open</td>
      <td>High</td>
      <td>Low</td>
      <td>Close</td>
      <td>Volume BTC</td>
      <td>Volume Currency</td>
      <td>Weighted price</td>
    </tr>
    <tr>
      <td>{{bitcoinLastDay.timeStamp}}</td>
      <td>{{bitcoinLastDay.open}}</td>
      <td>{{bitcoinLastDay.high}}</td>
      <td>{{bitcoinLastDay.low}}</td>
      <td>{{bitcoinLastDay.close}}</td>
      <td>{{bitcoinLastDay.volumeBTC}}</td>
      <td>{{bitcoinLastDay.volumeCurrency}}</td>
      <td>{{bitcoinLastDay.weightedPrice}}</td>
    </tr>
    
  </table>
  <button type="button" (click) = " click()"> Bluf dat je hier op drukt! </button>